html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header {
    background-color: #7DF9FF;
    padding: 16px;
    height: 10vh;
}

.Upper-Section {
    margin-left: 5vw;
    margin-right: 5vw;
    height: 3vh;
}

.Lower-Section {
    margin-left: 5vw;
    margin-right: 5vw;
    height: 5vh;
}
.headerContainer {
    width: 100%;
}
.homepage-Logo {
    height: auto;
    position: absolute;
    left: 2rem

}
.loginButtons {
    display: flex;
    align-items:center;
    margin-left: auto;
    width: max-content;
    gap: 16px;
}
.loginButtons a {
    color: black;
    text-decoration: none;
}
.loginButtons a:hover {
    text-decoration: underline;
}
nav {
    margin-top: 0;
    background-color: #6edce1;
    width: 100%;
    padding: 4px 0px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
nav a {
    text-decoration: none;
    border-radius: 5px;
    color: black;
    padding: 8px;
    transition-duration: 0.2s;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.searchbar {
    background-color: white;
    border: 1px solid grey;
    height: max-content;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto 0 auto;
}
.searchbar input:focus {
    outline: none;
}
.searchbar:focus-within {
    outline: 1px solid black;
}
.searchbar i {
    padding: 8px;
}
.searchbar input {
    background-color: transparent;
    border:none;
    padding: 8px;
    width: 100%;
}


.homepage-Logo {
    height: 7vh;
}

.products {
    height:440px;
    width:100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    justify-content: space-around;
}

.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid rgba(200, 200, 200, 0.5);
    background-color:white;
    border-radius: 5px;
    width: 300px;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.productContainer .productImg {
    border-bottom: 1px solid #6edce1;
    padding-bottom: 2rem;
    max-height: 180px;
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productContainer img {
    max-width: 300px;
    max-height: 200px;
}
.productContainer .title {
    font-size: 15px;
}
.productContainer .price {
    color: #6edce1;
    font-weight: 700;
}
.productContainer .shoppingCartButton {
    border: none;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    background-color: #6edce1;
}
.productContainer .shoppingCartButton:hover {
    background-color: #7DF9FF;
}
.productContainer:hover .title {
    text-decoration: underline;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 2rem 10rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:4rem;
    margin-top:1rem;
}
.footer .navigation {
    display:flex;
    align-items: start;
    justify-content: space-around;
    gap: 2rem;
}
.footer .navigation a {
    text-decoration: none;
    padding: 5px;
    color: black;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
}
.footer .navigation a:hover {
    border: 1px solid lightgray;
    padding: 4px;
}
.footer .partners {
}
.banner {
    position: relative;
}
.footer .partners .content {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer .partners .content img {
    width: 40px;
}
.footer .partners .title span {
    color: lightgray;
}
.hr {
    height: 2px;
    background-color: rgba(211, 211, 211, 0.5);
    width: 96%;
    margin: 2rem auto 2rem auto;
    border-radius: 5px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
