:root{
    --lightblue: #7DF9FF;
    --blue: #6edce1;
    --black: #333;
    --lightgrey: #bbb;
    --darkgrey: #aaa;
    --white: #f1f1f1;
}


html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, serif;
}
header {
    background-color: var(--lightblue);
    padding: 16px;
    height: 10vh;
}

.Upper-Section {
    margin-left: 5vw;
    margin-right: 5vw;
    height: 5vh;
}

.Lower-Section {
    margin-left: 5vw;
    margin-right: 5vw;
    height: 5vh;
}
.headerContainer {
    width: 100%;
}
.homepage-Logo {
    height: auto;
    position: absolute;
    left: 2rem;

}
.loginButtons {
    display: flex;
    align-items:center;
    margin-left: auto;
    width: max-content;
    gap: 16px;
}
.loginButtons a {
    color: black;
    text-decoration: none;
}
.loginButtons a:hover {
    text-decoration: underline;
}
nav {
    margin-top: 0;
    background-color: var(--blue);
    width: 100%;
    padding: 4px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
nav a {
    text-decoration: none;
    border-radius: 5px;
    color: black;
    padding: 8px;
    transition-duration: 0.2s;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.searchbar {
    background-color: white;
    border: 1px solid grey;
    height: max-content;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto 0 auto;
}
.searchbar i {
    padding: 8px;
}
.searchbar input {
    background-color: transparent;
    border:none;
    padding: 8px;
    width: 100%;
}


.homepage-Logo {
    height: 7vh;
}

.banner {
    height: 30vh;
    background-color: var(--black);
    color: white;
    padding: 10px;
}
.row {
    display: grid;
    grid-template-columns: 3fr 13fr ;
}

/*.column {
    height: 202vh;
}
*/

.column.side-left {

    background-color:var(--darkgrey);
    overflow: hidden;
}

.filter-section {
    margin-left: 2vw;
    margin-top: 2vw;
    background-color: var(--darkgrey);
    padding: 10px;
    color: var(--black);
    height: 73vh;
    overflow-y: auto;
}
.filter-options {
    list-style: none;
    padding: 0;
}

.filter-options li {
    margin: 8px 0;
}

.filter-options a {
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 1vh;
}

.filter-options a:hover {
    background-color: var(--lightgrey);
    border-radius: 5px;
}

/* Style the scrollbar */
.filter-section::-webkit-scrollbar {
    width: 8px;
}

.filter-section::-webkit-scrollbar-thumb {
    background-color: var(--lightblue);
    border-radius: 4px;
}

.filter-section::-webkit-scrollbar-track {
    background-color: var(--darkgrey);
}


.column.middle {
    background-color: var(--lightgrey);
    overflow: hidden;
}
.content-wrapper {
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
    grid-gap: 3vh;
}
.product-raster a {
    text-decoration: none;
}


.content-box {
    margin-top: 2vh;
    width: 65vw;
    height: 45vh;
    background-color: lightcyan;
    border-radius: 25px;
    padding: 25px;
    opacity: 0.8;
    box-shadow: 3px 3px 1px 1px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: opacity 0.3s ease-in-out;
    position: relative; /* Add position relative for absolute positioning of price */
}

.content-box:hover{
    opacity: 0.6;
}
.content-box h2 {
    color: var(--black);
    font-size: 1.5em; /* Adjust font size as needed */
    margin-bottom: 10px;
}
.content-box p {
    color: var(--black);
    font-size: 1em; /* Adjust font size as needed */
    line-height: 1.4; /* Adjust line height for better readability */
}

.content-img {
    height: 220px;
    width: 370px;
    overflow: hidden;
    margin-left: 0px;
    margin-top: 7vh;
    margin-bottom: 15px; /* Adjust margin-bottom for more space */
}

.content-img img {
    height: 25vh;
    max-width: 100%;
}
.content-name {
    font-size: 1.2em;
    margin-bottom: 10px; /* Adjust margin-bottom for more space */
    color: var(--black);
}

.content-price {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 5vw;
    margin-bottom: 10px; /* Adjust margin-bottom for more space */
}




.column.side-right {

    background-color:var(--lightgrey);
    overflow: hidden;
}

.prijsInput{
    display:flex;
}
.inputPrijs{
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    margin:5px;
}

.submit-button{
    color:black;
    background-color: white;
    border: 1px black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 0px;
}

.zero-results{
    margin-left: 30vw;
    margin-top: 10vh;
}


