body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 80%;
    width: 10%;
    right: 0;
    transform: rotate(-90deg);
}

.sticky-button {
    z-index: 999;
    font-weight: bold;
    transform-origin: center;
    background-color: #F7559A;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
}
.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 0.05s;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #F7559A;
    width: 35%;
    height: 80%;
    z-index: 999;
}

.pop-up h1 {
    color: black;
    margin-top: 15px;
    margin-bottom: 0;

}
.stars .fa-star {
    font-size: 2rem;
    margin-right: 5px;
}

.pop-up p {
    color: black;
    margin-left: 4px;
    margin-right: 4px;
}

.knop-OK {
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0;
    padding: 10px 50px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    text-decoration-color: black;
}

.thx {
    visibility: hidden;
    display: inline;
    height: auto;
    padding: 24px;
    transition: all 0.1s;
}
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
.textarea{
    word-wrap: break-word;
    box-sizing: content-box;
    white-space: pre-wrap;
    overflow: auto;
}
.input {
    width: 40%;
    height: 40%;
    font-family: sans-serif;
    vertical-align: top;
}
.display {
    visibility: visible;
}
.changesize{
    height: 25%;
    width: 30%;
}
.remove {
    visibility: hidden;
}

.none {
    display: none;
}
.checked{
    color: #ffff43;
}
.stars{
    display: flex;
    color: #5b5b5b;
}
.star-container {
    display: inline-block;
    margin-right: 8px;
}
.fa-star {
    cursor: pointer;
}
.pop-header {
    background-color: #F7559A;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    vertical-align: top;
    font-weight: bold;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 24px;
    margin-right: 225%;
    margin-left: 24px;
}

.close-button {
    cursor: pointer;
    font-size: 24px;
    text-align: right;
    horiz-align: right;
}
#feedbackForm{
    width: 100%;
    height: 100%;
}

.close-button:hover {
    color: black;
}
