body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 50%; /* Position the left edge at the center of the viewport */
    transform: translateX(-50%); /* Center the box horizontally */
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 0.05s;
    overflow: hidden;
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 1000px rgba(0, 0, 0, 100);
}

.pop-up h1 {
    color: #F7559A;
    margin-top: 15px;
    margin-bottom: 0px;

}

.pop-up p {
    color: #F7559A;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: bold;
}

.pop-up button {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0;
    padding: 10px 50px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    text-decoration-color: black;
    background-color: #F7559A;
}

.display {
    visibility: visible;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#popUp {
    position: absolute;
    background-color: #fff; /* Background color of the displayed element */
    padding: 20px;
    box-shadow: 0 0 1000px rgba(0, 0, 0, 100);
    z-index: 999;
}
